<nb-card class={{className}}>
  <nb-card-header>
    {{title}}
  </nb-card-header>
  <nb-card-body [nbSpinner]="!isLoaded || isWaiting" nbSpinnerSize="giant" nbSpinnerStatus="primary">
    <ng-content *ngIf="isLoaded && !isEmpty && !isError; else loading">
    </ng-content>
  </nb-card-body>
  <nb-card-footer *ngIf="hasFooter">
    <ng-content select="[footer]">
    </ng-content>
  </nb-card-footer>
</nb-card>

<ng-template #loading>
  <data-loading-indicator [isEmpty]="isEmpty" [isError]="isError" [isLoaded]="isLoaded" (retry)="onRetryClick()" [useSpinner]="useSpinner"></data-loading-indicator>
</ng-template>
