/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap';
@import '~leaflet/dist/leaflet';
@import '~nebular-icons/scss/nebular-icons';
@import '~pace-js/themes/red/pace-theme-flash';
@import './app/@ngx-admin/@theme/styles/styles';
@import '~bootstrap/scss/_variables.scss';

nb-card.dialog-card {
  min-width: $modal-md;

  &.modal-sm {
    min-width: $modal-sm;
  }

  &.modal-md {
    min-width: $modal-md;
  }

  &.modal-lg {
    min-width: $modal-lg;
  }

  &.modal-xl {
    min-width: $modal-xl;
  }

  nb-card-footer {
    text-align: right;

    nb-spinner {

      span {
        visibility: hidden;
      }
    }
  }
}

nb-radio-group[inline] {
  display: block;

  nb-radio {
    display: inline-block;
  }
}

.nb-theme-default [nbButton].size-medium {

  nb-icon.fad, nb-icon.fal, nb-icon.far, nb-icon.fas {
    font-size: 1.25rem;
  }
}

.ng-invalid {
  color: $danger;
  font-size: 0.8em;
}
